<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.SmartHtmlCacheClearer, Sitecore.Kernel" method="ClearCache" resolve="true">     
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.SmartHtmlCacheClearer, Sitecore.Kernel" method="ClearCache" resolve="true">
        </handler>
      </event>
    </events>
    <sites>
      <site name="ENBDPearlMuseum" patch:after="site[@name='modules_website']" hostName="www.pearlmuseum.ae" targetHostName="www.pearlmuseum.ae"
            enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/ENBD/ETFS"
            startItem="/Home"  database="web" redirectSettingsId="{FE21D0B1-44BB-4BBA-80C9-ACB4BD06BF6E}" 
            domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0"
            viewStateCacheSize="0" xslCacheSize="25MB"  filteredItemsCacheSize="10MB" enablePreview="true"
            enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB" language="en" patch:source="Sitecore.LanguageFallback.config"
            itemwebapi.mode="Off" itemwebapi.access="ReadOnly" itemwebapi.allowanonymousaccess="false"
            enableItemLanguageFallback="false" enableFieldLanguageFallback="false" />
    </sites>
  </sitecore>
</configuration>