<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone">
		<unicorn>
			<configurations>
				<configuration name="ENBDGroup.Project.ENBD.Website" description="ENBD content" dependencies="Foundation.*,Feature.*" extends="Helix.Project">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
					<predicate>
						<include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/ENBD" />
						<!--<include name="ProjectRenderings" database="master" path="/sitecore/layout/Renderings/Project/ENBD" />-->
						<include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/ENBD" />
						

						<include name="Content" database="master" path="/sitecore/content/Home" />
						<include name="GlobalSettings" database="master" path="/sitecore/content/Global" />
						
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>