<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor
        patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"
        type="ENBDGroup.Foundation.Common.CMS.Pipelines.ItemNotFoundResolver, ENBDGroup.Foundation.Common.CMS" />
      </httpRequestBegin>
      <httpRequestProcessed>
        <processor type="ENBDGroup.Foundation.Common.CMS.Pipelines.SetNotFoundStatusCode, ENBDGroup.Foundation.Common.CMS" />
      </httpRequestProcessed>
      <mvc.getPageItem>
        <processor type="ENBDGroup.Foundation.Common.CMS.Pipelines.CheckItemResolved, ENBDGroup.Foundation.Common.CMS"
        patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromRouteUrl, Sitecore.Mvc']" />
      </mvc.getPageItem>
    </pipelines>
  </sitecore>
</configuration>