<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestProcessed>
        <processor type="LivApp.Foundation.CMS.Pipelines.SitemapXmlProcessor, LivApp.Foundation.CMS"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
        </processor>
      </httpRequestProcessed>

    </pipelines>
  </sitecore>
</configuration>