<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="ENBDGroup.Feature.Enbd.SitecoreWebApi.Routes.RegisterRoutes, ENBDGroup.Feature.Enbd.SitecoreWebApi"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>